$gray-0: hsla(0, 0%, 0%, 1);
$gray-10: hsla(0, 0%, 10%, 1);
$gray-20: hsla(0, 0%, 20%, 1);
$gray-30: hsla(0, 0%, 30%, 1);
$gray-40: hsla(0, 0%, 40%, 1);
$gray-50: hsla(0, 0%, 50%, 1);
$gray-60: hsla(0, 0%, 60%, 1);
$gray-70: hsla(0, 0%, 70%, 1);
$gray-80: hsla(0, 0%, 80%, 1);
$gray-88: hsla(0, 0%, 88%, 1);
$gray-90: hsla(0, 0%, 90%, 1);
$gray-92: hsla(0, 0%, 92%, 1);
$gray-94: hsla(0, 0%, 94%, 1);
$gray-96: hsla(0, 0%, 96%, 1);
$gray-98: hsla(0, 0%, 98%, 1);
$gray-100: hsla(0, 0%, 100%, 1);

$primary-10: hsla(178, 100%, 10%, 1);
$primary-20: hsla(178, 100%, 20%, 1);
$primary-30: hsla(178, 100%, 30%, 1);
$primary-40: hsla(178, 100%, 40%, 1);
$primary-50: hsla(178, 100%, 50%, 1);
$primary-60: hsla(178, 100%, 60%, 1);
$primary-70: hsla(178, 100%, 70%, 1);
$primary-80: hsla(178, 100%, 80%, 1);
$primary-88: hsla(178, 100%, 88%, 1);
$primary-90: hsla(178, 100%, 90%, 1);
$primary-92: hsla(178, 100%, 92%, 1);
$primary-94: hsla(178, 100%, 94%, 1);
$primary-96: hsla(178, 100%, 96%, 1);
$primary-98: hsla(178, 100%, 98%, 1);

$secondary-10: hsla(178, 45%, 10%, 1);
$secondary-20: hsla(178, 45%, 20%, 1);
$secondary-30: hsla(178, 45%, 30%, 1);
$secondary-40: hsla(178, 45%, 40%, 1);
$secondary-50: hsla(178, 45%, 50%, 1);
$secondary-60: hsla(178, 45%, 60%, 1);
$secondary-70: hsla(178, 45%, 70%, 1);
$secondary-80: hsla(178, 45%, 80%, 1);
$secondary-88: hsla(178, 45%, 88%, 1);
$secondary-90: hsla(178, 45%, 90%, 1);
$secondary-92: hsla(178, 45%, 92%, 1);
$secondary-94: hsla(178, 45%, 94%, 1);
$secondary-96: hsla(178, 45%, 96%, 1);
$secondary-98: hsla(178, 45%, 98%, 1);

$tertiary-10: hsla(178, 10%, 10%, 1);
$tertiary-12: hsla(178, 10%, 12%, 1);
$tertiary-20: hsla(178, 10%, 20%, 1);
$tertiary-30: hsla(178, 10%, 30%, 1);
$tertiary-40: hsla(178, 10%, 40%, 1);
$tertiary-50: hsla(178, 10%, 50%, 1);
$tertiary-60: hsla(178, 10%, 60%, 1);
$tertiary-70: hsla(178, 10%, 70%, 1);
$tertiary-80: hsla(178, 10%, 80%, 1);
$tertiary-88: hsla(178, 10%, 88%, 1);
$tertiary-90: hsla(178, 10%, 90%, 1);
$tertiary-92: hsla(178, 10%, 92%, 1);
$tertiary-94: hsla(178, 10%, 94%, 1);
$tertiary-96: hsla(178, 10%, 96%, 1);
$tertiary-98: hsla(178, 10%, 98%, 1);

$success-10: hsla(120, 45%, 10%, 1);
$success-20: hsla(120, 45%, 20%, 1);
$success-30: hsla(120, 45%, 30%, 1);
$success-40: hsla(120, 45%, 40%, 1);
$success-50: hsla(120, 45%, 50%, 1);
$success-60: hsla(120, 45%, 60%, 1);
$success-70: hsla(120, 45%, 70%, 1);
$success-80: hsla(120, 45%, 80%, 1);
$success-88: hsla(120, 45%, 88%, 1);
$success-90: hsla(120, 45%, 90%, 1);
$success-92: hsla(120, 45%, 92%, 1);
$success-94: hsla(120, 45%, 94%, 1);
$success-96: hsla(120, 45%, 96%, 1);
$success-98: hsla(120, 45%, 98%, 1);

$error-10: hsla(0, 45%, 10%, 1);
$error-20: hsla(0, 45%, 20%, 1);
$error-30: hsla(0, 45%, 30%, 1);
$error-40: hsla(0, 45%, 40%, 1);
$error-50: hsla(0, 45%, 50%, 1);
$error-60: hsla(0, 45%, 60%, 1);
$error-70: hsla(0, 45%, 70%, 1);
$error-80: hsla(0, 45%, 80%, 1);
$error-88: hsla(0, 45%, 88%, 1);
$error-90: hsla(0, 45%, 90%, 1);
$error-92: hsla(0, 45%, 92%, 1);
$error-94: hsla(0, 45%, 94%, 1);
$error-96: hsla(0, 45%, 96%, 1);
$error-98: hsla(0, 45%, 98%, 1);

$info-10: hsla(210, 45%, 10%, 1);
$info-20: hsla(210, 45%, 20%, 1);
$info-30: hsla(210, 45%, 30%, 1);
$info-40: hsla(210, 45%, 40%, 1);
$info-50: hsla(210, 45%, 50%, 1);
$info-60: hsla(210, 45%, 60%, 1);
$info-70: hsla(210, 45%, 70%, 1);
$info-80: hsla(210, 45%, 80%, 1);
$info-88: hsla(210, 45%, 88%, 1);
$info-90: hsla(210, 45%, 90%, 1);
$info-92: hsla(210, 45%, 92%, 1);
$info-94: hsla(210, 45%, 94%, 1);
$info-96: hsla(210, 45%, 96%, 1);
$info-98: hsla(210, 45%, 98%, 1);

$advice-10: hsla(270, 45%, 10%, 1);
$advice-20: hsla(270, 45%, 20%, 1);
$advice-30: hsla(270, 45%, 30%, 1);
$advice-40: hsla(270, 45%, 40%, 1);
$advice-50: hsla(270, 45%, 50%, 1);
$advice-60: hsla(270, 45%, 60%, 1);
$advice-70: hsla(270, 45%, 70%, 1);
$advice-80: hsla(270, 45%, 80%, 1);
$advice-88: hsla(270, 45%, 88%, 1);
$advice-90: hsla(270, 45%, 90%, 1);
$advice-92: hsla(270, 45%, 92%, 1);
$advice-94: hsla(270, 45%, 94%, 1);
$advice-96: hsla(270, 45%, 96%, 1);
$advice-98: hsla(270, 45%, 98%, 1);
