$px-0: 0;

$px-025: 0.015625rem;
$px-025-negative: -0.015625rem;

$px-050: 0.03125rem;
$px-050-negative: -0.03125rem;

$px-075: 0.046875rem;
$px-075-negative: -0.046875rem;

$px-1: 0.0625rem;
$px-1-negative: -0.0625rem;

$px-1-25: 0.078125rem;
$px-1-25-negative: -0.078125rem;

$px-1-50: 0.09375rem;
$px-1-50-negative: -0.09375rem;

$px-1-75: 0.109375rem;
$px-1-75-negative: -0.109375rem;

$px-2: 0.125rem;
$px-2-negative: -0.125rem;

$px-4: 0.25rem;
$px-4-negative: -0.25rem;

$px-8: 0.5rem;
$px-8-negative: -0.5rem;

$px-10: 0.625rem;
$px-10-negative: -0.625rem;

$px-12: 0.75rem;
$px-12-negative: -0.75rem;

$px-14: 0.875rem;
$px-14-negative: -0.875rem;

$px-16: 1rem;
$px-16-negative: -1rem;

$px-18: 1.125rem;
$px-18-negative: -1.125rem;

$px-20: 1.25rem;
$px-20-negative: -1.25rem;

$px-24: 1.5rem;
$px-24-negative: -1.5rem;

$px-28: 1.75rem;
$px-28-negative: -1.75rem;

$px-32: 2rem;
$px-32-negative: -2rem;

$px-36: 2.25rem;
$px-36-negative: -2.25rem;

$px-40: 2.5rem;
$px-40-negative: -2.5rem;

$px-44: 2.75rem;
$px-44-negative: -2.75rem;

$px-48: 3rem;
$px-48-negative: -3rem;

$px-52: 3.25rem;
$px-52-negative: -3.25rem;

$px-56: 3.5rem;
$px-56-negative: -3.5rem;

$px-60: 3.75rem;
$px-60-negative: -3.75rem;

$px-64: 4rem;
$px-64-negative: -4rem;

$px-68: 4.25rem;
$px-68-negative: -4.25rem;

$px-72: 4.5rem;
$px-72-negative: -4.5rem;

$px-76: 4.75rem;
$px-76-negative: -4.75rem;

$px-80: 5rem;
$px-80-negative: -5rem;

$px-84: 5.25rem;
$px-84-negative: -5.25rem;

$px-88: 5.5rem;
$px-88-negative: -5.5rem;

$px-92: 5.75rem;
$px-92-negative: -5.75rem;

$px-96: 6rem;
$px-96-negative: -6rem;

$px-100: 6.25rem;
$px-100-negative: -6.25rem;

$px-104: 6.5rem;
$px-104-negative: -6.5rem;

$px-108: 6.75rem;
$px-108-negative: -6.75rem;

$px-112: 7rem;
$px-112-negative: -7rem;

$px-116: 7.25rem;
$px-116-negative: -7.25rem;

$px-120: 7.5rem;
$px-120-negative: -7.5rem;

$px-124: 7.75rem;
$px-124-negative: -7.75rem;

$px-128: 8rem;
$px-128-negative: -8rem;

$px-132: 8.25rem;
$px-132-negative: -8.25rem;

$px-136: 8.5rem;
$px-136-negative: -8.5rem;

$px-140: 8.75rem;
$px-140-negative: -8.75rem;

$px-144: 9rem;
$px-144-negative: -9rem;

$px-148: 9.25rem;
$px-148-negative: -9.25rem;

$px-152: 9.5rem;
$px-152-negative: -9.5rem;

$px-156: 9.75rem;
$px-156-negative: -9.75rem;

$px-160: 10rem;
$px-160-negative: -10rem;
