@use './color' as *;

$nav-shadow-light: 0px 0px 40px 1px transparentize($gray-30, 0.9);
$nav-shadow-dark: 0px 0px 40px 1px transparentize($gray-0, 0.6);

$primary-shadow: 0px 10px 20px 0px transparentize($primary-30, 0.8);
$primary-shadow-hover: 0px 10px 20px 0px transparentize($primary-20, 0.8);

$card-shadow-light: 0px 0px 40px 0px transparentize($tertiary-30, 0.92);
$card-shadow-light-hover: 0px 0px 40px 0px transparentize($tertiary-20, 0.8);
