@use '../../scss/' as *;

.typeStyle {
	font-size: $h5;
	font-family: var(--noto-sans);
	font-weight: 313;
	text-align: center;
	&Dark {
		color: $primary-40;
		border-top: $px-2 solid transparentize($secondary-40, 0.7);
	}

	&Light {
		color: $gray-40;
		border-top: $px-2 solid $gray-90;
	}
}

@media screen and (max-width: $md) {
	.typeStyle {
		font-size: $h6;
	}
}
