@use '../../../scss/' as *;

.wrapper {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: flex-end;
	gap: $px-24;
	padding: $px-140 $px-96;
}

@media screen and (max-width: $md) {
	.wrapper {
		padding: $px-140 $px-16;
	}
}
